<!DOCTYPE html>
<html lang="en">
<head>
    {% block link %}
<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>ES Band - Webelopers 2019</title>
</head>
<body>
<style>
    body,html{
    background: url("https://images.squarespace-cdn.com/content/v1/556c2545e4b056fbbd359e12/1559620427280-T8L40OAO7YPT1LZHYAXA/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/bcgrnd.jpeg?format=2500w");

    {#background: -webkit-linear-gradient(left, #3931af, #00c6ff);#}
    }
    .nav-item{
        font-weight: 600;
    }
    .nav-item1 a{
        transition: 0.9s ease;
        padding: 10px;
        margin: 0 5px;
    }
    .nav-item1 a:hover{
        border-radius: 7px;
        background: #17a2b8;
        color: white !important;
        transition: 0.9s ease;
    }
    .nav-item a{
        transition: 0.9s ease;
    }
    .nav-item a:hover{
        transition: 0.9s ease;
    }
</style>
<div id="navbar" class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand " href="#">ES Band Team 32</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item nav-item1 active">
            <a class="nav-link" id="homepage" href="/">	<i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item nav-item1">
            <a class="nav-link" id="contact_us" href="/contact/"><i class="fa fa-phone"></i> Contact Us</a>
          </li>
            {% if user.is_authenticated %}
            <li class="nav-item nav-item1">
                <a class="nav-link" id="profile" href="/profile/"><i class="fa fa-user-circle"></i> Profile</a>
            </li>

             <li class="nav-item nav-item1">
                <a class="nav-link" id="panel" href="/panel/"><i class="fa fa-list"></i> Panel</a>
             </li>
            {% endif %}
        </ul>
         <ul class="navbar-nav ml-auto">
             {% if user.is_authenticated %}
                <li class="nav-item">
            <a class="nav-link btn btn-danger text-light" id="logout" href="/logout/">Logout <i class="fa fa-sign-out"></i> </a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary" id="login" href="/login/"><i class="fa fa-sign-in"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success ml-3" id="register" href="/signup/">Register <i class="fa fa-user-plus"></i> </a>
                </li>
            {% endif %}
         </ul>
      </div>
    </div>
{% block content %}

{% endblock %}