<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container" style="width: 100%;">
        <div class="row">
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="follower_count_chart" data-url="{% url 'follower_count_chart' pageId %}"></canvas>
            </div>
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="profile_views_count_chart" data-url="{% url 'profile_views_count_chart' pageId %}"></canvas>
            </div>
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="reach" data-url="{% url 'reach' pageId %}"></canvas>
            </div>
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="tap-website" data-url="{% url 'tap-website' pageId %}"></canvas>
            </div>
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="tap-direction" data-url="{% url 'tap-direction' pageId %}"></canvas>
            </div>
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="tap-email" data-url="{% url 'tap-email' pageId %}"></canvas>
            </div>
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="tap-message" data-url="{% url 'tap-message' pageId %}"></canvas>
            </div>
            <div class="card" style="width: 40%;display: inline-block">
                <canvas id="tap-call_count" data-url="{% url 'tap-call_count' pageId %}"></canvas>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

    $(function () {

        var $populationChart = $("#follower_count_chart");

        $.ajax({
        url: $populationChart.data("url"),
            success: function (data) {

            var ctx = $populationChart[0].getContext("2d");

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Count',
                        backgroundColor: 'blue',
                        data: data.data,
                        fill: false

                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                    position: 'top',
                     },
                    title: {
                        display: true,
                        text: 'Follower Count'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                stepSize: 1,

                            },
                        }]
                    }
                 }
            });

        }
        });

    });



    $(function () {

        var $populationChart = $("#profile_views_count_chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                        label: 'Count',
                        backgroundColor: 'blue',
                        data: data.data,
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Profile Views'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }
                    }
                });

            }
        });

    });


    $(function () {

        var $populationChart = $("#reach");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'blue',
                            data: data.data,
                            fill: false
                          }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Profile Reach'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }


                    }
                });

            }
        });

    });



    $(function () {

        var $populationChart = $("#tap-website");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'blue',
                            data: data.data,
                            fill: false
                          }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Profile tap website'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }


                    }
                });

            }
        });

    });


    $(function () {

        var $populationChart = $("#tap-direction");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'blue',
                            data: data.data,
                            fill: false
                          }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Profile tap direction'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }


                    }
                });

            }
        });

    });

    $(function () {

        var $populationChart = $("#tap-email");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'blue',
                            data: data.data,
                            fill: false
                          }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Profile tap email'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }


                    }
                });

            }
        });

    });

    $(function () {

        var $populationChart = $("#tap-message");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'blue',
                            data: data.data,
                            fill: false
                          }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Profile message count'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }


                    }
                });

            }
        });

    });

    $(function () {

        var $populationChart = $("#tap-call_count");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'blue',
                            data: data.data,
                            fill: false
                          }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Profile call count'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }
                            }]
                        }


                    }
                });

            }
        });

    });



    </script>
</body>
</html>