{#<!-- templates/login2.html -->#}
{##}
{# {% extends 'base.html' %}#}
{# {% block title %} Sign in {% endblock %}#}
{# {% block content %}#}
{# <div class="row">#}
{#     <div class="col-md-8 mx-auto social-container my-2 order-md-1">#}
{##}
{#          <button class="btn btn-primary mb-2">#}
{#            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>#}
{#          </button>#}
{##}
{#     </div>#}
{# </div>#}
{##}
{##}
{# </div>#}
{##}
{##}
{#    <div class="wrapper fadeInDown">#}
{#        <div id="formContent">#}
{#            <!-- Tabs Titles -->#}
{##}
{#            <!-- Icon -->#}
{#            <div class="fadeIn first">#}
{#                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />#}
{#            </div>#}
{##}
{#            <!-- Login Form -->#}
{#            <form>#}
{#                <button class="fadeIn fourth" value="Log In with facebook">#}
{#                    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>#}
{#                </button>#}
{#            </form>#}
{##}
{#            <!-- Remind Passowrd -->#}
{#            <div id="formFooter">#}
{#                <a class="underlineHover" href="#">Forgot Password?</a>#}
{#            </div>#}
{##}
{#        </div>#}
{#</div>#}
{##}
{##}
{# {% endblock %}#}





