<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>
	$(document).ready(function() {
	var max_fields      = 14; //maximum input boxes allowed
	var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
	var add_button      = $(".add_field_button"); //Add button ID
	
	var x = 0; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();

		if(x < max_fields){ //max input box allowed
			x++; //text box increment
			$(wrapper).append('<div><input class="form-control" type="text" name="mytext['+ x +']" placeholder="enter your Page id" /><a href="#" class="remove_field">Remove</a></div>'); //add input box
		}
	});
	
	$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
		e.preventDefault(); $(this).parent('div').remove(); x--;
	})
});
</script>

<style>
@media(min-width:992px){
  .custom-w-50{
    width: 30% !important;
  }
}

@media(min-width:992px){
  .custom-w-50{
    width: 30% !important;
  }
}

@media(max-width:992px){
  .custom-w-50{
    width: 90% !important;
  }
}
    body {
  background-image: url('https://cdn.hipwallpaper.com/i/89/20/Dc1NAH.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
  </style>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">login page <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">page 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">page 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">page 4</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="d-flex !important" style="min-height:80vh">
        <div class="alert alert-primary custom-w-50 mx-auto align-self-center p-5 shadow-lg" role="alert">
            <h2 class="text-center" >welcome to login page</h2>

            <form action="{% url 'insertPageId' %}" method="post">
                {% csrf_token %}
				<div class="input_fields_wrap">
				    <div><input class="form-control mb-3" type="text" name="mytext[0]" placeholder="enter your Page id"></div>
				</div>
				<div class="d-flex">
						<button class="add_field_button btn btn-danger mx-auto text-light">Add More Fields</button>  
						<button type="submit" name="submit" class="btn btn-danger mx-auto text-light">submit</button> 
			  	</div>
			</form>
        </div>
      </div>
</body>
</html>