

{% load static %}
<html>
<head>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">#}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- MDBootstrap Datatables  -->
    <link href="{% static 'MDB/css/addons/datatables.min.css' %}" rel="stylesheet">

    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
        }
    </style>
</head>
<body>
    <row>
        <div>
            User : {{ user.username }}<br>
            Page Id : {{ pageId }}
            <form action="{% url 'csv_export_profile' pageId %}" method="post">
                <div class="d-flex">
                    <button type="submit" name="export" class="btn btn-danger mx-auto text-light">export csv</button>
                </div>
            </form>
        </div>
    </row>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" >
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">شهر فالوورها</th>
                <th scope="col">کشور فالوورها</th>
                <th scope="col">جنسیت و سن فالوورها</th>
                <th scope="col">تعداد تپ ایمیل</th>
                <th scope="col">تعداد فالوورها افزوده شده روزانه</th>
                <th scope="col">تعداد تپ دایرکشن</th>
                <th scope="col">تعداد تپ تماس</th>
                <th scope="col">تعداد تپ مسیج</th>
                <th scope="col">تعداد تپ وبسایت</th>
                <th scope="col">ریچ </th>
                <th scope="col">پروفایل ویو</th>
                <th scope="col">زمان دریافت</th>
            </tr>
        </thead>
        <tbody>
            {% for p in profile %}
                <tr>
                    <th scope="row">{{ p.id }}</th>
                    <td>{{ p.cities }}</td>
                    <td>{{ p.countries }}</td>
                    <td>{{ p.gender_age }}</td>
                    <td>{{ p.tap_email }}</td>
                    <td>{{ p.follower_count }}</td>
                    <td>{{ p.tap_direction }}</td>
                    <td>{{ p.tap_call_count }}</td>
                    <td>{{ p.tap_message }}</td>
                    <td>{{ p.tap_website }}</td>
                    <td>{{ p.reach }}</td>
                    <td>{{ p.profile_views }}</td>
                    <td>{{ p.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>







    <!-- JS, Popper.js, and jQuery -->
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>#}

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="{% static 'MDB/js/addons/datatables.min.js' %}"></script>


    <script>
        $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
        });
    </script>

</body>
</html>